<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="msg">
            <input type="password" v-model="pwd">

            <!--使用v-model设置在一组-->
            <input type="radio" v-model='sex' value="l">男
            <input type="radio" v-model='sex' value="m">女

            <input type="checkbox" v-model='school' value="林大">林大
            <input type="checkbox" v-model='school' value="黑大">黑大
            <input type="checkbox" v-model='school' value="理工">理工

            <select name="" id="" v-model="sport">
                <option value="足球">足球</option>
                <option value="篮球">篮球</option>
                <option value="乒乓球">乒乓球</option>
            </select>

        </form>
    </div>
</body>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            msg:'',
            pwd:'ssss',
            email:'eeeee',
            //注意这里设置和获取的是value属性
            sex:'l',

            //多选框属性用数组，把选中的值加入该数组里面
            //如果这里使用true和false作为一个开关功能，一开全开。
            school:['黑大','林大'],

            sport:'乒乓球'
        }
    })

</script>
</html>