<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>

    <style>

        li{
            list-style: none;
        }


        .red{

            color: red;
        }
    </style>
</head>
<body>

    <div id="app">

        <input type="text" v-model="msg" @keyup="search">
        <button @click="add">add</button>

        <ul>
            <li v-for="obj in arr" @click="obj.active = !obj.active;"  :class = "{red:obj.active}">
                <span v-text="obj.val"></span>
            </li>
        </ul>
    </div>



<script src = "vue.js"></script>
<script>

    new Vue({
        el:"#app",
        data:{
            msg:"",
            arr:[],
//            新建立一个数组，用于存储过滤后的元素
            showArr:[]

        },
        methods:{
            add(){

                this.arr.push({val:this.msg,active:false});
                this.msg = '';
                //数组排序
                this.arr.sort(function (a, b) {
                    return a.val > b.val;
                });

                this.showArr = this.arr;

            },


            search(){

//              arr.filter是一个过滤器方法
//              这里要使用=>函数是因为匿名函数的this指向window
//              使用=>使this指向为所在的代码段（vue对象）
                var filterArr = this.arr.filter((obj)=>{
                    return obj.val.includes(this.msg);
                });
                this.showArr = filterArr;
            }


        }


    });


</script>
</body>
</html>