#header{
    background:url("../IMG/banner33.jpg") center no-repeat;
    height: 250px;

}

#login-container form{

    width: 270px;
    height: 290px;
    margin-top: 20px;
    float: left;
}

#login-container h5{
    color: #5d5959;
    font-size: 20px;
    padding-bottom: 10px;
}

#login-container label input{
    outline: none;
    font-size: 20px;
    text-index: 2px;
    margin-bottom: 10px;
}

#login-container input[value="Ã·Ωª"]{
    background: #ffffff;
    color: black;
}



#register{
    float: right;
    width: 540px;
}

#i:hover{
    color: #faf8f8;
    background: #ef8743;
}