#single{
    height: 650px;
    margin-top: 50px;

}

#single-pic{
    width: 494px;
    height: 567px;
    overflow: hidden;
}

#single-description{
    width: 570px;
    height: 612px;
    margin-left: 30px;
}